    <article class="p-6 mb-3 ml-6 lg:ml-12 text-base bg-white rounded-lg dark:bg-gray-900">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">{{user.username}}</p>
                <p class="text-sm text-gray-600 dark:text-gray-400">{{dateCreated}}</p>
            </div>
        </footer>
            <p class="text-gray-500 dark:text-gray-400">{{content}}</p>
    </article>