<div class="p-12 md:w-1/2 flex flex-col items-start">
  <h2
    class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
  >{{title}}</h2>
  <p class="leading-relaxed mb-8">{{content}}</p>
    <span class="flex-grow flex flex-col pl-4">
      <span class="title-font font-medium text-gray-900">{{user.username}}</span>
    </span>
  </a>
</div>