<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 space-y-6">    
        {{#each posts}}
        {{> post-card}}
        {{/each}}
    </div>
  </div>

